---
import Layout from "../layouts/Layout.astro";
import ListProfesionales from '../components/ListProfesionales.astro'
import Presentacion from '../components/Presentacion.astro'
import Formacion from '../components/Formacion.astro'
---

<Layout title="buffet de abogados">
	<Presentacion />
	<section
		class="relative px-[10vw] md:px-[9vw] mt-24 grid gap-14 text-xl"
	>
		<p>
			Bienvenidos a (Nombre), su aliado legal en La Paz, Bolivia. Con
			una trayectoria de excelencia y compromiso, nuestro bufete se dedica a
			brindar asesoramiento legal integral y soluciones efectivas a individuos,
			empresas y organizaciones. Nuestro equipo de abogados altamente
			capacitados y experimentados en diversas áreas del derecho se compromete a
			proteger sus intereses y a ofrecerle un servicio personalizado, basado en
			la ética y el profesionalismo.
		</p>
		<img class="blur-b absolute -z-10 w-[600px] md:w-[400px] top-[50%] right-6 opacity-30" src="./derecho.png" alt="dama de la justicia png">
		
	</section>
	<section class="relative px-[10vw] md:px-[9vw] mt-24 grid gap-14 text-xl">
		<h2>Quiénes Somos</h2>
		<div class="flex md:flex-nowrap items-center gap-7">
			<img
				class="blur-l w-[400px] hidden lg:block"
				src="./fondo1.jpg"
				alt="(Nombre) buffet de abogados"
			/>
			<div>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing
					elit. Laboriosam doloribus voluptatum adipisci enim
					omnis maxime perspiciatis nobis. Minima animi sunt magni
					ipsa ab? Sint rerum nobis, eos nemo dolorem aliquam
					corporis voluptatum dolorum mollitia distinctio
					consequuntur quae delectus ipsum natus cupiditate
					voluptate ut recusandae velit. Aliquid mollitia
					perspiciatis odio quae.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Blanditiis pariatur iure nostrum ipsa nihil at similique
					accusantium quidem quis soluta voluptates odit, fugiat
					distinctio commodi delectus laboriosam officia est
					illum!nobis, eos nemo dolorem aliquam corporis
					voluptatum dolorum mollitia distinctio consequuntur quae
					delectus ipsum natus cupiditate voluptate ut recusandae
					velit. Aliquid mollitia perspiciatis odio quae.
				</p>
			</div>
			
		</div>
	</section>
	<ListProfesionales />
	<Formacion />
	<section class="relative px-[10vw] md:px-[9vw] my-28 grid gap-14 text-xl">
		<p>
			En (Nombre), entendemos que cada caso es único, por lo que nos
			esforzamos por ofrecer un enfoque adaptado a las necesidades específicas
			de nuestros clientes. Ya sea que necesite asesoramiento en derecho
			corporativo, litigios, derecho laboral, o cualquier otra área legal,
			estamos aquí para guiarlo en cada paso del proceso. Nuestra oficina en el
			corazón de La Paz nos permite estar siempre accesibles para nuestros
			clientes, garantizando una comunicación constante y una atención dedicada
			para asegurar los mejores resultados posibles.
		</p>
	</section>
</Layout>

