---
import Layout from "../layouts/Layout.astro";
import ListProfesionales from '../components/ListProfesionales.astro'
import Presentacion from '../components/Presentacion.astro'
import Formacion from '../components/Formacion.astro'
---

<Layout title="Andres Baldivia - Estudio de Abogados">
	<Presentacion />
	<section
		class="relative px-[10vw] md:px-[9vw] mt-24 grid gap-14 text-xl"
	>
		<p>
			Bienvenidos a Andres Baldivia - Estudio de Abogados, su aliado legal en La Paz, Bolivia. Con
			una trayectoria de excelencia y compromiso, nuestro bufete se dedica a
			brindar asesoramiento legal integral y soluciones efectivas a individuos,
			empresas y organizaciones. Nuestro equipo de abogados altamente
			capacitados y experimentados en diversas áreas del derecho se compromete a
			proteger sus intereses y a ofrecerle un servicio personalizado, basado en
			la ética y el profesionalismo.
		</p>
		<img class="blur-b absolute -z-10 w-[600px] md:w-[400px] top-[50%] right-6 opacity-30" src="./derecho.png" alt="dama de la justicia png">
		
	</section>
	<section class="relative px-[10vw] md:px-[9vw] mt-24 grid gap-14 text-xl">
		<h2>QUIÉNES SOMOS</h2>
		<div class="flex md:flex-nowrap items-center gap-7">
			<img
				class="blur-l w-[400px] hidden lg:block"
				src="./fondo1.jpg"
				alt="Andres Baldivia - Estudio de Abogados buffet de abogados"
			/>
			<div>
				<p>
                    Andres Baldivia y Asociados, para los cuales la cercanía, la profesionalidad, lealtad y ética son premisas sobre las que sustentar la relación con los clientes.
                </p>
                <br />
                <p>
                    Nuestra actividad se centra en el asesoramiento jurídico integral basado en la atención personalizada de nuestros clientes, tanto particulares como empresas. Así, y sin perjuicio de la responsabilidad directa que cada Letrado asume en los asuntos que tiene encomendados, todos los miembros del equipo participan en el análisis y discusión de las cuestiones planteadas, siendo la experiencia y conocimiento comunes la mejor garantía de calidad y eficiencia profesionales y de unidad de criterio en las actuaciones del Despacho.
                </p>
			</div>
			
		</div>
	</section>
	<ListProfesionales />
	<Formacion />
	<section class="relative px-[10vw] md:px-[9vw] my-28 grid gap-14 text-xl">
		<p>
			En Andres Baldivia - Estudio de Abogados, entendemos que cada caso es único, por lo que nos
			esforzamos por ofrecer un enfoque adaptado a las necesidades específicas
			de nuestros clientes. Ya sea que necesite asesoramiento en derecho
			corporativo, litigios, derecho laboral, o cualquier otra área legal,
			estamos aquí para guiarlo en cada paso del proceso. Nuestra oficina en el
			corazón de La Paz nos permite estar siempre accesibles para nuestros
			clientes, garantizando una comunicación constante y una atención dedicada
			para asegurar los mejores resultados posibles.
		</p>
	</section>
</Layout>

