---
import Layout from "../layouts/Layout.astro";
---

<Layout title="buffet de abogados">
	<div
		class="relative text-center text-3xl h-[76vh] grid place-items-center bg-[#000c18]"
	>
		<img
			class="blur-b absolute object-cover w-full h-full opacity-45 z-0"
			src="./fondo6.jpg"
			alt=""
		/>
		<h1 class="z-10 text-[#D4AF37]">
			<strong class="text-[#fff] text-6xl">Bienvenidos a (Nombre)</strong><br />
			su aliado legal en La Paz, Bolivia
		</h1>
		<button type="button" class="absolute bottom-14 bg-[#9b7702] rounded-lg p-2 text-[#f0f0f0] font-bold shadow-lg shadow-[#D4AF37]">
			Solicitar Consulta
		</button>
	</div>
	<section class="relative px-[9vw] mt-10 grid gap-14 text-xl font-semibold">
		<p>
			Bienvenidos a (Nombre), su aliado legal en La Paz, Bolivia. Con
			una trayectoria de excelencia y compromiso, nuestro bufete se dedica a
			brindar asesoramiento legal integral y soluciones efectivas a individuos,
			empresas y organizaciones. Nuestro equipo de abogados altamente
			capacitados y experimentados en diversas áreas del derecho se compromete a
			proteger sus intereses y a ofrecerle un servicio personalizado, basado en
			la ética y el profesionalismo.
		</p>
		<img class="blur-b absolute -z-10 w-[300px] md:w-[400px] right-6 opacity-40" src="./derecho.png" alt="dama de la justicia png">
		<p>
			En (Nombre), entendemos que cada caso es único, por lo que nos
			esforzamos por ofrecer un enfoque adaptado a las necesidades específicas
			de nuestros clientes. Ya sea que necesite asesoramiento en derecho
			corporativo, litigios, derecho laboral, o cualquier otra área legal,
			estamos aquí para guiarlo en cada paso del proceso. Nuestra oficina en el
			corazón de La Paz nos permite estar siempre accesibles para nuestros
			clientes, garantizando una comunicación constante y una atención dedicada
			para asegurar los mejores resultados posibles.
		</p>
		<section class="mt-24 grid gap-7">
			<h2 class="text-[#D4AF37] font-bold text-5xl">Quiénes Somos</h2>
			<div class="flex flex-wrap-reverse md:flex-nowrap items-center">
			<div>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
					doloribus voluptatum adipisci enim omnis maxime perspiciatis nobis. Minima
					animi sunt magni ipsa ab? Sint rerum nobis, eos nemo dolorem aliquam
					corporis voluptatum dolorum mollitia distinctio consequuntur quae delectus
					ipsum natus cupiditate voluptate ut recusandae velit. Aliquid mollitia
					perspiciatis odio quae.
				</p>
				<br>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis pariatur iure nostrum ipsa nihil at similique accusantium quidem quis soluta voluptates odit, fugiat distinctio commodi delectus laboriosam officia est illum!
				</p>
			</div>
			<img class="blur-l w-[400px]" src="./fondo1.jpg" alt="(Nombre) buffet de abogados">
			</div>
		</section>
	</section>
</Layout>
<style>
	.blur-b {
		mask-image: linear-gradient(#000000 80%, transparent);
	}
	.blur-l{
		mask-image: linear-gradient(to left, #000000 80%, transparent);
	}

</style>
