---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <section class="mt-24 grid gap-7">
        <h2>Quiénes Somos</h2>
        <div class="flex md:flex-nowrap items-center">
            <div>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Laboriosam doloribus voluptatum adipisci enim
                    omnis maxime perspiciatis nobis. Minima animi sunt magni
                    ipsa ab? Sint rerum nobis, eos nemo dolorem aliquam
                    corporis voluptatum dolorum mollitia distinctio
                    consequuntur quae delectus ipsum natus cupiditate
                    voluptate ut recusandae velit. Aliquid mollitia
                    perspiciatis odio quae.
                </p>
                <br />
                <img
                    class="blur-b absolute -z-10 w-[300px] md:w-[400px] top-32 right-6 opacity-35"
                    src="./derecho.png"
                    alt="dama de la justicia png"
                />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Blanditiis pariatur iure nostrum ipsa nihil at similique
                    accusantium quidem quis soluta voluptates odit, fugiat
                    distinctio commodi delectus laboriosam officia est
                    illum!nobis, eos nemo dolorem aliquam corporis
                    voluptatum dolorum mollitia distinctio consequuntur quae
                    delectus ipsum natus cupiditate voluptate ut recusandae
                    velit. Aliquid mollitia perspiciatis odio quae.
                </p>
            </div>
            <img
                class="blur-l w-[400px] hidden md:block"
                src="./fondo1.jpg"
                alt="(Nombre) buffet de abogados"
            />
        </div>
    </section>
</Layout>