---
import Present from '../components/Present.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <Present 
        title="NUESTRO EQUIPO Y TRAYECTORA"
    />
    <section class="m-14 mt-24 grid gap-7">
        <div class="">
            <img
                class="blur-l float-right w-[400px] hidden md:block"
                src="./fondo1.jpg"
                alt="Andres Baldivia - Estudio de Abogados"
            />
            <div>
                <p>
                    Andres Baldivia y Asociados, para los cuales la cercanía, la profesionalidad, lealtad y ética son premisas sobre las que sustentar la relación con los clientes.
                </p>
                <br />
                <p>
                    Nuestra actividad se centra en el asesoramiento jurídico integral basado en la atención personalizada de nuestros clientes, tanto particulares como empresas. Así, y sin perjuicio de la responsabilidad directa que cada Letrado asume en los asuntos que tiene encomendados, todos los miembros del equipo participan en el análisis y discusión de las cuestiones planteadas, siendo la experiencia y conocimiento comunes la mejor garantía de calidad y eficiencia profesionales y de unidad de criterio en las actuaciones del Despacho.
                </p>
                <br>
                <p>
                    Este es nuestro objetivo, que usted sea asesorado por un letrado cuyo prestigio se valora en cada caso, siendo la solución de su problema nuestro más eficaz modo de publicidad. <br>
Para este despacho la relación personal, el trato directo entre cliente y abogado, es lo fundamental, nuestro prestigio se basa en la solución de su problema.
                </p>
                <img
                    class="blur-b absolute -z-10 w-[300px] md:w-[400px] top-32 right-6 opacity-35"
                    src="./derecho.png"
                    alt="dama de la justicia png"
                />
                <p>
                    Nuestra actividad se centra en el asesoramiento jurídico integral basado en la atención personalizada de nuestros clientes, tanto particulares como empresas. Así, y sin perjuicio de la responsabilidad directa que cada Letrado asume en los asuntos que tiene encomendados, todos los miembros del equipo participan en el análisis y discusión de las cuestiones planteadas, siendo la experiencia y conocimiento comunes la mejor garantía de calidad y eficiencia profesionales y de unidad de criterio en las actuaciones del Despacho.
                </p>
            </div>
            
        </div>
    </section>
</Layout>