---
import Layout from '../layouts/Layout.astro';
---

<Layout title="(Nombre)-Profesionales">
    <h2 class="mt-10 text-center font-bold">Nuestros profesionales</h2>
    <section id="lic1" class="m-7 max-w-[800px] md:m-16 bg-gray-200 p-4">
        <div class="flex justify-center">
            <img class="blur-l rounded-lg mx-5 mb-5" src="/retratoMuestra.jfif" alt="">
        </div>
        <div>
            <h3>Lic Nombres Apellidos</h3>
            <small>Universidad Católica Boliviana “San Pablo”, Cochabamba – Bolivia, 2000, “Licenciado en Derecho”.</small>
        </div>
        <div class="flex flex-wrap-reverse justify-around">
            <section class="grid place-items-center">
                <h4>
                    Areas de práctica
                </h4>
                <ul>
                    <li>Administrativo y Regulatorio</li>
                    <li>Comercio Internacional</li>
                    <li>Inversión Extranjera</li>
                    <li>Restructuración e Insolvencia</li>
                    <li>Corporativo, Fusiones y Adquisiciones</li>
                </ul>
            </section>
            <p class="text-lg">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum omnis facilis illo temporibus doloribus impedit ipsam incidunt a natus pariatur cupiditate, nisi dolorem possimus soluta iste velit totam repudiandae accusamus animi aspernatur facere magnam sequi. Sunt, facilis corporis odit aliquam sequi dicta doloremque? Excepturi voluptatibus deleniti doloremque reprehenderit 
            </p> 
            
        </div>
        <div class="grid place-items-center mt-5">
            <button class="bg-[#9b7702] rounded-lg px-5 p-1 text-[#f0f0f0] font-bold shadow-lg shadow-[#D4AF37] transition-colors">
                <a>+591 7777777</a>
            </button>       
        </div>
    </section><section id="lic2" class="m-7 max-w-[800px] md:m-16 bg-gray-200 p-4">
        <div class="flex justify-center">
            <img class="blur-l rounded-lg mx-5 mb-5" src="/retratoMuestra.jfif" alt="">
        </div>
        <div>
            <h3>Lic Nombres Apellidos</h3>
            <small>Universidad Católica Boliviana “San Pablo”, Cochabamba – Bolivia, 2000, “Licenciado en Derecho”.</small>
        </div>
        <div class="flex flex-wrap-reverse justify-around">
            <section class="grid place-items-center">
                <h4>
                    Areas de práctica
                </h4>
                <ul>
                    <li>Administrativo y Regulatorio</li>
                    <li>Comercio Internacional</li>
                    <li>Inversión Extranjera</li>
                    <li>Restructuración e Insolvencia</li>
                    <li>Corporativo, Fusiones y Adquisiciones</li>
                </ul>
            </section>
            <p class="text-lg">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum omnis facilis illo temporibus doloribus impedit ipsam incidunt a natus pariatur cupiditate, nisi dolorem possimus soluta iste velit totam repudiandae accusamus animi aspernatur facere magnam sequi. Sunt, facilis corporis odit aliquam sequi dicta doloremque? Excepturi voluptatibus deleniti doloremque reprehenderit 
            </p> 
            
        </div>
        <div class="grid place-items-center mt-5">
            <button class="bg-[#9b7702] rounded-lg px-5 p-1 text-[#f0f0f0] font-bold shadow-lg shadow-[#D4AF37] transition-colors">
                <a>+591 7777777</a>
            </button>       
        </div>
    </section><section id="lic3" class="m-7 max-w-[800px] md:m-16 bg-gray-200 p-4">
        <div class="flex justify-center">
            <img class="blur-l rounded-lg mx-5 mb-5" src="/retratoMuestra.jfif" alt="">
        </div>
        <div>
            <h3>Lic Nombres Apellidos</h3>
            <small>Universidad Católica Boliviana “San Pablo”, Cochabamba – Bolivia, 2000, “Licenciado en Derecho”.</small>
        </div>
        <div class="flex flex-wrap-reverse justify-around">
            <section class="grid place-items-center">
                <h4>
                    Areas de práctica
                </h4>
                <ul>
                    <li>Administrativo y Regulatorio</li>
                    <li>Comercio Internacional</li>
                    <li>Inversión Extranjera</li>
                    <li>Restructuración e Insolvencia</li>
                    <li>Corporativo, Fusiones y Adquisiciones</li>
                </ul>
            </section>
            <p class="text-lg">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum omnis facilis illo temporibus doloribus impedit ipsam incidunt a natus pariatur cupiditate, nisi dolorem possimus soluta iste velit totam repudiandae accusamus animi aspernatur facere magnam sequi. Sunt, facilis corporis odit aliquam sequi dicta doloremque? Excepturi voluptatibus deleniti doloremque reprehenderit 
            </p> 
            
        </div>
        <div class="grid place-items-center mt-5">
            <button class="bg-[#9b7702] rounded-lg px-5 p-1 text-[#f0f0f0] font-bold shadow-lg shadow-[#D4AF37] transition-colors">
                <a>+591 7777777</a>
            </button>       
        </div>
    </section><section id="lic4" class="m-7 max-w-[800px] md:m-16 bg-gray-200 p-4">
        <div class="flex justify-center">
            <img class="blur-l rounded-lg mx-5 mb-5" src="/retratoMuestra.jfif" alt="">
        </div>
        <div>
            <h3>Lic Nombres Apellidos</h3>
            <small>Universidad Católica Boliviana “San Pablo”, Cochabamba – Bolivia, 2000, “Licenciado en Derecho”.</small>
        </div>
        <div class="flex flex-wrap-reverse justify-around">
            <section class="grid place-items-center">
                <h4>
                    Areas de práctica
                </h4>
                <ul>
                    <li>Administrativo y Regulatorio</li>
                    <li>Comercio Internacional</li>
                    <li>Inversión Extranjera</li>
                    <li>Restructuración e Insolvencia</li>
                    <li>Corporativo, Fusiones y Adquisiciones</li>
                </ul>
            </section>
            <p class="text-lg">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum omnis facilis illo temporibus doloribus impedit ipsam incidunt a natus pariatur cupiditate, nisi dolorem possimus soluta iste velit totam repudiandae accusamus animi aspernatur facere magnam sequi. Sunt, facilis corporis odit aliquam sequi dicta doloremque? Excepturi voluptatibus deleniti doloremque reprehenderit 
            </p> 
            
        </div>
        <div class="grid place-items-center mt-5">
            <button class="bg-[#9b7702] rounded-lg px-5 p-1 text-[#f0f0f0] font-bold shadow-lg shadow-[#D4AF37] transition-colors">
                <a>+591 7777777</a>
            </button>       
        </div>
    </section>
    <section id="lic4" class="m-7 max-w-[800px] md:m-16 bg-gray-200 p-4">
        <div class="flex justify-center">
            <img class="blur-l rounded-lg mx-5 mb-5" src="/retratoMuestra.jfif" alt="">
        </div>
        <div>
            <h3>Lic Nombres Apellidos</h3>
            <small>Universidad Católica Boliviana “San Pablo”, Cochabamba – Bolivia, 2000, “Licenciado en Derecho”.</small>
        </div>
        <div class="flex flex-wrap-reverse justify-around">
            <section class="grid place-items-center">
                <h4>
                    Areas de práctica
                </h4>
                <ul>
                    <li>Administrativo y Regulatorio</li>
                    <li>Comercio Internacional</li>
                    <li>Inversión Extranjera</li>
                    <li>Restructuración e Insolvencia</li>
                    <li>Corporativo, Fusiones y Adquisiciones</li>
                </ul>
            </section>
            <p class="text-lg">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum omnis facilis illo temporibus doloribus impedit ipsam incidunt a natus pariatur cupiditate, nisi dolorem possimus soluta iste velit totam repudiandae accusamus animi aspernatur facere magnam sequi. Sunt, facilis corporis odit aliquam sequi dicta doloremque? Excepturi voluptatibus deleniti doloremque reprehenderit 
            </p> 
            
        </div>
        <div class="grid place-items-center mt-5">
            <button class="bg-[#9b7702] rounded-lg px-5 p-1 text-[#f0f0f0] font-bold shadow-lg shadow-[#D4AF37] transition-colors">
                <a>+591 7777777</a>
            </button>       
        </div>
    </section>
</Layout>
<style>
    h3{
        font-size: 2rem;
        font-weight: 700;
        color: #2C3E50;
    }
    h4{
        font-size: 1.7rem;
        font-weight: 700;
        color: #2C3E50;
    }
    button {
		transition: 0.5s all;
	}
	button:hover {
		color: #9b7702;
		background-color: white;
	}
    li{
        list-style: circle;
        margin-left: 10px;
        font-size: 1rem;
        font-weight: 600;
    }
    @media (min-width: 768px) {
		h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 1.7rem;
    }
	}
</style>