---
import Layout from "../layouts/Layout.astro";
import Present from "../components/Present.astro";
---

<Layout title="Andres Baldivia - Profesionales">
    <Present title="NUESTROS PROFESIONALES" />
    <div id="profesionals" class="text-[#8f1c1c]">
        
    </div>
    
    
</Layout>
<script>
    import equipo from '../constants/Equipo.json'
    const profesionals=document.getElementById('profesionals');
    const listProfesionales = equipo.map((equipoP)=>{
        return(
            `<section
        id="lic1"
        class="m-7 flex flex-wrap justify-center items-center max-w-[2000px] bg-gray-100 p-4"
    >
        <div class="w-[90%] md:w-[50%]">
            <img class="rounded-lg w-[95%]" src="/retratoMuestra.jfif" alt="" />
        </div>
        <div class="md:w-[50%]">
            <div>
                <h2 class="text-[2rem] font-[700] text-[#461717]">LIC. ${equipoP.nombre}</h2>
                <small class="text-lg text-blue-950"
                    >${equipoP.academico}</small
                >
            </div>
            <div class="flex flex-wrap-reverse justify-around">
                <p class="text-lg text-black">
                    ${equipoP.descripcion}
                </p>
            </div>
            <div class="grid place-items-center mt-5">
                
            </div>
        </div>
    </section>    `
        )
    })
    profesionals.innerHTML=listProfesionales
</script>
<style>
    @media (min-width: 768px) {
        h3 {
            font-size: 2.5rem;
        }
        h4 {
            font-size: 1.7rem;
        }
    }
</style>