---
import Layout from '../layouts/Layout.astro';
---

<Layout title="(Nombre)-Profesionales">
    <section id="lic1" class="m-20">
        <img class="w-[40vw] float-left mx-5 mb-5" src="/retratoMuestra.jfif" alt="">
        <div>
            <h2>Lic Nombres Apellidos</h2>
            <small>Universidad Católica Boliviana “San Pablo”, Cochabamba – Bolivia, 2000, “Licenciado en Derecho”.</small>
        </div>
        
    </section>
</Layout>