---
import Logo from "./Logo.astro";
---

<header
    class="w-full min-h-20 bg-white to-black to-opacity-90 shadow-xl border-black  flex justify-around items-center sticky top-0 text-2xl font-bold z-50"
    >
    <div class="w-[20%] md:w-[7%]">
        <Logo />
    </div>
    <nav class="hidden md:block z-50">
        <ul class="flex gap-10 text-[#831a1a]">
            <li><a href="/">Inicio</a></li>
            <li><a href="/Profesionales">Profesionales</a></li>
            <li><a href="/Nosotros">Nosotros</a></li>
            <li><a href="/Contactos">Contactos</a></li>
        </ul>
    </nav>
    <button
        title="menu Synergoed"
        name="button"
        class="z-50 md:hidden mt-1 absolute right-7"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#831a1a"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path
                d="M4 18l16 0"></path></svg
        >
    </button>
    <nav
        class="nav-mobile p-4 absolute right-0 rounded-b-lg w-[60vw] bg-white h-[60vh]"
    >
        <ul class="grid place-items-center gap-10 text-[#831a1a] z-50">
            <li><a href="/">Inicio</a></li>
            <li><a href="/Profesionales">Profesionales</a></li>
            <li><a href="/Nosotros">Nosotros</a></li>
            <li><a href="/Contactos">Contactos</a></li>
        </ul>
    </nav>
</header>
<style>
    header {
        backdrop-filter: blur(5px);
    }
    .nav-mobile {
        top: -1000%;
        transform: scaleY(0);
        opacity: 0;
        transition:
            1s top,
            1s transform,
            1.3s opacity;
        z-index: 0 !important;
    }
    button:hover ~ .nav-mobile {
        top: 100%;
        opacity: 100;
        transform: scaleY(100%);
    }
    a{
		transition: .5s all;
	}
	a:hover{
		background-color: white;
		color:#9b7702;
        border-radius: 10px;
	}
</style>
