<section class="mt-24 mx-10 text-center">
	<h2 class="m-3 ">Nuestro Equipo de trabajo</h2>
	<section class="grid gap-y-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-8 place-content-center gap-8">
		<div class="retrato">
			<img class="retrato-img" src="./retratoMuestra.jfif" alt="" />
			<span>Nombre NOmbre Apellido1 Apellido2</span>
		</div>
		<div class="retrato">
			<img class="retrato-img" src="./retratoMuestra.jfif" alt="" />
			<span>Nombre Apellido1 Apellido2</span>
		</div>
		<div class="retrato">
			<img class="retrato-img" src="./retratoMuestra.jfif" alt="" />
			<span>Nombre Apellido1 Apellido2</span>
		</div>
		<div class="retrato">
			<img class="retrato-img" src="./retratoMuestra.jfif" alt="" />
			<span>Lic. JOSUE MARTIN MAMANI AGREDA</span>
		</div>
	</section>

<style>
    .retrato{
        width: 100%;
        font-weight: bold;
        font-size: 1.35rem /* 20px */;
        line-height: 1.75rem;
    }
    .retrato-img{
        width: 100%;
        margin-bottom: 8px;
    }
</style>