<div
		class="relative w-full text-center text-2xl md:text-3xl h-[80vh] grid place-items-center bg-[#000c18]"
	>
		<img
			class="blur-b absolute object-cover w-full h-full opacity-45 z-0"
			src="./fondo6.jpg"
			alt=""
		/>
		<h1 class="z-10 text-[#c52c2c] text-3xl font-bold">
			<span class="text-8xl ">BIENVENIDOS</span>
			<strong class="text-[#fff] md:text-6xl text-[1.88rem]"
				><br> Andres Baldivia & Asociados</strong
			><br />
			Firma Legal
		</h1>
		<button
			type="button"
			class="absolute bottom-14 bg-[#4b0808] rounded-lg p-2 text-[#f0f0f0] font-bold shadow-lg shadow-[#000000] transition-colors"
		>
			<a href="https://wa.link/1iclvv" target="_blank">Solicitar Consulta</a>
		</button>
	</div>
	<style>
		button {
		transition: 0.5s all;
	}
	button:hover {
		color: #9b0202;
		background-color: white;
	}
	</style>