---
const {title}=Astro.props
---
<div class="relative w-full h-[30vh] md:h-[30vw] text-center grid place-items-center bg-gradient-to-tr to-blue-900 from-gray-900">
    <h1 class="m-3 z-10 text-[7vw] md:text-[4vw] text-white font-black">{title}</h1>
</div>